html{
	scroll-behavior: smooth;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Titillium Web', sans-serif;	
}

#contenedorTituloID{
	display: flex;
	justify-content: center;
	margin: 18vh 0;
}

.contenedor{
	max-width: 1280px;
	width: 100%;
	margin: auto;
}

header .contenedor{
	display: flex;
	justify-content: space-between;  
}

header .menu .contenedor p{
	font-family: 'Titan One', cursive;
}

header ul{
	list-style: none;
	display: flex;
}

header ul li{
	margin: 0 15px;
}

header ul li a{
	text-decoration: none;
	transition: 0.5s;
	font-size: 20px;
}

header ul li a:hover{
	color: #B43104;
	padding: 0 25px;
	transition: 0.5s;
}

.contenedorTitulo{
	text-align: center;
}



h1{
	font-size: 60px;
}

h2{
	font-size: 30px;
}

/*
rgb = red green blue
a = alpha (transparencia) 0 a 1
*/

header{
	background: linear-gradient(rgba(220, 350, 140, .8), rgba(150, 64, 175, .1)), url("../imagenes/fondo.jpg");
	height: 100vh; /* 100% view * heigth */
	background-size: cover;
}


#contenedorTituloID a, .sobremiTexto a{
	font-size: 20px;
	color: #fff;
	text-decoration: none;
	background: #ae40ef; /*rgb*/
	padding: 15px;
	border-radius: 15px;
	transition: 1s;
}

#contenedorTituloID a:hover, .sobremiTexto a:hover{
	font-size: 25px;
	color: black;
	padding: 20px;
	transition: 1s;
}

/* Seccion Servicios */

h3{
	text-align: center;
	font-size: 55px;
	font-weight: normal;
	margin : 30px 0;
}

.sobremiImagen{
	max-width: 450px;
}

#SobreMi .contenedor-sobremi{
	display: flex;
	justify-content: space-around;
}

.sobremiImagen img{
	width: 100%;
	margin-top: 10vh;	
}

#SobreMi .sobremiTexto{
	font-size: 20px;
	width: 50%;
}

/* Seccion Servicios */

.contenedorServicios{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	justify-content: space-around;
}

.servicio{
	width: 24%;
	padding: 34px 30px 38px 30px;
	border-radius: 10px;
	margin-bottom: 40px;
	position: relative;
}

.servicio h4{
	font-size: 30px;
	margin: 0 ;
}

.servicio p{
	margin-bottom: 20px;
	height: 300px;
}

.contenedorServicios .servicio1{
	background: linear-gradient(to top, #7a5959, #6fe8e9);
	box-shadow: 0 12px 30px 2px rgba(80, 85, 223, 0.37);
}

.contenedorServicios .servicio2{
	background: linear-gradient(to left, #bcd728, #baa6a6);
	box-shadow: 0 12px 30px 2px rgba(80, 85, 223, 0.37);
}

.ondas{
	width: 100%;
	left:0;
	bottom:0;
	position: absolute;
}

.icono{
	float: right;
}

/* Seccion footer */

footer{
	background: #2f2f2f;
	padding: 20px 0;
	text-align: center;
	margin-top: 20px;
}

footer .contenedor{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

footer .sociales img{
	margin : 0 30px;
	transform: rotate(0deg);
	transform: 0.4s;
}

footer .sociales img:hover{
	transform: rotate(360deg);
	transition: 0.4s;
}

footer .DerechosReservados{
	color: white;
	margin-top: 15px;
}


/* Boton Flotante */

.whatsapp{
	position: fixed;
	top: 90%;
	right: 5%;
	z-index: 3;
}
