body{
	margin: 0 ;
	padding: 0 ;
	font-family: Arial, Helvetica, sans-serif;
	background: #34495e;
	color: white;
}

.formulario{
	width : 300px;
	padding : 40px;
	position : absolute;
	top : 50% ;
	left : 50% ;
	transform: translate(-50%, -50%);
	text-align: center;
}
/* translate : mueve el contenido en un eje x y en eje y */

.formulario legend{
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: bold;
}
/* uppercase : transforma el texto a mayusculas
   lowecase : transforma el texto a minusculas */

.formulario input[type="text"], .formulario input[type="email"], .formulario textarea{
	border: 0;
	background: none;
	margin: 5px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 250px;
	color: white;
	border-radius: 25px;
	outline: none;
	transition: 1s;
}

.formulario input[type="text"]:focus, .formulario input[type="email"]:focus, .formulario textarea:focus{
	border-color: #2ecc71;
}

.formulario input[type="submit"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 25px;
	transition: 0.5s;
	cursor: pointer;
}

.formulario input[type="submit"]:hover{
	background: #2ecc71;
	color: black;
}